@import url(sanitize.css);
@import url(./assets/inter-font/inter.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
    font-family: 'Inter', sans-serif;
    height: 100%;
//     font-smooth: never;
// -webkit-font-smoothing : none;
}
body {
    height: 100%;
}
#root {
    height: 100%;
}


// @supports (font-variation-settings: normal) {
//   :root { font-family: 'Inter var', sans-serif; }
// }

@layer base {
    .font-outline-1 {  
        text-shadow:
         -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    .text-glow {
        color: #fff;
        text-align: center;
        text-shadow: 0 0 10px #fff, 0 0 30px #fff;
    }
    .no-drag {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    .bg-diagonal-lines {
        background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.6' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: repeat;
    }

    .direction-rtl {
        direction: rtl;
    }

    .direction-ltr {
        direction: ltr;
    }

    .btn {
        @apply bg-white text-black m-1 pl-5 pr-5 p-1 w-min h-min 
        uppercase text-base tracking-wide cursor-pointer 
        hover:underline active:bg-blue-500 disabled:bg-neutral-700 disabled:hover:no-underline disabled:cursor-auto;
    }

    .btn-active {
        @apply btn bg-blue-500
    }



    // .context-menu {
    //     @apply text-xs bg-black text-white p-2 border-[1px]
    // }
    
}

input[type="checkbox"]:checked + label {
	justify-content: flex-end;
	background-color: white;
    border-color: white;
}

input[type="checkbox"]:checked + label span {
	background-color: black;
}

* {
    -webkit-app-region: no-drag;
    @apply select-none;
}

h1 {
    user-select: none;
}

button {
    user-select: none;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#drag-region{ -webkit-app-region: drag; }

/* width */
::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
background: #0000;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #444;
border-radius: 1pt;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #666;
}